## ----------------------------------------------------------------------------
## RabbitMQ STOMP Plugin
##
## Related doc guide: https://rabbitmq.com/stomp.html
## ----------------------------------------------------------------------------

# =======================================
# STOMP section
# =======================================

## See https://rabbitmq.com/stomp.html for details.

## TCP listeners.
##
# stomp.listeners.tcp.1 = 127.0.0.1:61613
# stomp.listeners.tcp.2 = ::1:61613

{% for item in rabbitmq.config.stomp.listeners.tcp|default([]) %}
stomp.listeners.tcp.{{loop.index}} = {{item}}:61613
{% endfor %}

## TCP listener settings
##
# stomp.tcp_listen_options.backlog   = 2048
# stomp.tcp_listen_options.recbuf    = 131072
# stomp.tcp_listen_options.sndbuf    = 131072
#
# stomp.tcp_listen_options.keepalive = true
# stomp.tcp_listen_options.nodelay   = true
#
# stomp.tcp_listen_options.exit_on_close = true
# stomp.tcp_listen_options.send_timeout  = 120

{% if rabbitmq.config.stomp.tcp_listen_options is defined %}
stomp.tcp_listen_options.backlog   = {{ rabbitmq.config.stomp.tcp_listen_options.backlog|default(2048) }}
stomp.tcp_listen_options.recbuf    = {{ rabbitmq.config.stomp.tcp_listen_options.recbuf|default(131072) }}
stomp.tcp_listen_options.sndbuf    = {{ rabbitmq.config.stomp.tcp_listen_options.sndbuf|default(131072) }}

stomp.tcp_listen_options.keepalive = {{ rabbitmq.config.stomp.tcp_listen_options.keepalive|default('true') }}
stomp.tcp_listen_options.nodelay   = {{ rabbitmq.config.stomp.tcp_listen_options.nodelay|default('true') }}

stomp.tcp_listen_options.exit_on_close = {{ rabbitmq.config.stomp.tcp_listen_options.exit_on_close|default('true') }}
stomp.tcp_listen_options.send_timeout  = {{ rabbitmq.config.stomp.tcp_listen_options.send_timeout|default(120) }}
{% endif %}

## Proxy protocol support
##
# stomp.proxy_protocol = false
{% if rabbitmq.config.stomp.proxy_protocol is defined %}
stomp.proxy_protocol = {{ rabbitmq.config.stomp.proxy_protocol|default('false') }}
{% endif %}

## TLS listeners
## See https://rabbitmq.com/stomp.html and https://rabbitmq.com/ssl.html for details.
# stomp.listeners.ssl.default = 61614
#
# ssl_options.cacertfile = path/to/cacert.pem
# ssl_options.certfile   = path/to/cert.pem
# ssl_options.keyfile    = path/to/key.pem
# ssl_options.verify     =  verify_peer
# ssl_options.fail_if_no_peer_cert = true

{% for item in rabbitmq.config.stomp.listeners.ssl|default([]) %}
stomp.listeners.ssl.{{loop.index}} = {{item}}:61614
{% endfor %}

## Number of Erlang processes that will accept connections for the TCP
## and TLS listeners.
##
# stomp.num_acceptors.tcp = 10
# stomp.num_acceptors.ssl = 1

{% if rabbitmq.config.stomp.num_acceptors.tcp is defined %}
stomp.num_acceptors.tcp = {{ rabbitmq.config.stomp.num_acceptors.tcp|default(10) }}
{% endif %}
{% if rabbitmq.config.stomp.num_acceptors.ssl is defined %}
stomp.num_acceptors.ssl = {{ rabbitmq.config.stomp.num_acceptors.ssl|default(1) }}
{% endif %}

## Additional TLS options

## Extract a name from the client's certificate when using TLS.
##
# stomp.ssl_cert_login = true
{% if rabbitmq.config.stomp.ssl_cert_login is defined %}
stomp.ssl_cert_login = {{ rabbitmq.config.stomp.ssl_cert_login|default('true') }}
{% endif %}

## Set a default user name and password. This is used as the default login
## whenever a CONNECT frame omits the login and passcode headers.
##
## Please note that setting this will allow clients to connect without
## authenticating!
##
# stomp.default_user = guest
# stomp.default_pass = guest
{% if rabbitmq.config.stomp.default_user is defined %}
stomp.default_user = {{ rabbitmq.config.stomp.default_user|default('guest') }}
{% endif %}
{% if rabbitmq.config.stomp.default_pass is defined %}
stomp.default_pass = {{ rabbitmq.config.stomp.default_pass|default('guest') }}
{% endif %}

## If a default user is configured, or you have configured use TLS client
## certificate based authentication, you can choose to allow clients to
## omit the CONNECT frame entirely. If set to true, the client is
## automatically connected as the default user or user supplied in the
## TLS certificate whenever the first frame sent on a session is not a
## CONNECT frame.
##
# stomp.implicit_connect = true
{% if rabbitmq.config.stomp.implicit_connect is defined %}
stomp.implicit_connect = {{ rabbitmq.config.stomp.implicit_connect|default('true') }}
{% endif %}

## Whether or not to enable proxy protocol support.
## Once enabled, clients cannot directly connect to the broker
## anymore. They must connect through a load balancer that sends the
## proxy protocol header to the broker at connection time.
## This setting applies only to STOMP clients, other protocols
## like MQTT or AMQP have their own setting to enable proxy protocol.
## See the plugins or broker documentation for more information.
##
# stomp.proxy_protocol = false
{% if rabbitmq.config.stomp.proxy_protocol is defined %}
stomp.proxy_protocol = {{ rabbitmq.config.stomp.proxy_protocol|default('false') }}
{% endif %}


