# ======================================
# RabbitMQ broker section
# ======================================

## Related doc guide: https://rabbitmq.com/configure.html. See
## https://rabbitmq.com/documentation.html for documentation ToC.

## Networking
## ====================
##
## Related doc guide: https://rabbitmq.com/networking.html.
##
## By default, RabbitMQ will listen on all interfaces, using
## the standard (reserved) AMQP 0-9-1 and 1.0 port.
##
# listeners.tcp.default = 5672

## To listen on a specific interface, provide an IP address with port.
## For example, to listen only on localhost for both IPv4 and IPv6:
##
# IPv4
# listeners.tcp.local    = 127.0.0.1:5672
# IPv6
# listeners.tcp.local_v6 = ::1:5672

## You can define multiple listeners using listener names
# listeners.tcp.other_port = 5673
# listeners.tcp.other_ip   = 10.10.10.10:5672

## TLS listeners are configured in the same fashion as TCP listeners,
## including the option to control the choice of interface.
##
# listeners.ssl.default = 5671

{% for item in rabbitmq.config.listeners.tcp|default([]) -%}
  listeners.tcp.{{loop.index}} = {{item}}:5672
{% endfor %}

{% for item in rabbitmq.config.listeners.ssl|default([]) %}
  listeners.ssl.{{loop.index}} = {{item}}:5671
{% endfor %}


## Number of Erlang processes that will accept connections for the TCP
## and TLS listeners.
##
# num_acceptors.tcp = 10
{% if rabbitmq.config.num_acceptors.tcp is defined %}
num_acceptors.tcp = {{ rabbitmq.config.num_acceptors.tcp|default(10) }}
{% endif %}
# num_acceptors.ssl = 10
{% if rabbitmq.config.num_acceptors.ssl is defined %}
num_acceptors.ssl = {{ rabbitmq.config.num_acceptors.ssl|default(10) }}
{% endif %}

## Maximum amount of time allowed for the AMQP 0-9-1 and AMQP 1.0 handshake
## (performed after socket connection and TLS handshake) to complete, in milliseconds.
##
# handshake_timeout = 10000
{% if rabbitmq.config.handshake_timeout is defined %}
handshake_timeout = {{ rabbitmq.config.handshake_timeout|default(10000) }}
{% endif %}

## Set to 'true' to perform reverse DNS lookups when accepting a
## connection. rabbitmqctl and management UI will then display hostnames
## instead of IP addresses. Default value is `false`.
##
# reverse_dns_lookups = false
{% if rabbitmq.config.reverse_dns_lookups is defined %}
reverse_dns_lookups = {{ rabbitmq.config.reverse_dns_lookups|default('false') }}
{% endif %}

