{% include 'core.conf.j2' %}

{% if 'rabbitmq_management' in rabbitmq.plugins -%}
  {%- include 'plugin-management.conf.j2' %}
{% endif %}
{% if 'rabbitmq_amqp1_0' in rabbitmq.plugins -%}
  {%- include 'plugin-amqp1_0.conf.j2' %}
{% endif %}
{% if 'rabbitmq_shovel' in rabbitmq.plugins -%}
  {%- include 'plugin-shovel.conf.j2' %}
{% endif %}
{% if 'rabbitmq_stomp' in rabbitmq.plugins -%}
  {%- include 'plugin-stomp.conf.j2' %}
{% endif %}
{% if 'rabbitmq_mqtt' in rabbitmq.plugins -%}
  {%- include 'plugin-mqtt.conf.j2' %}
{% endif %}
{% if 'rabbitmq_web_mqtt' in rabbitmq.plugins -%}
  {%- include 'plugin-web_mqtt.conf.j2' %}
{% endif %}
{% if 'rabbitmq_auth_backend_ldap' in rabbitmq.plugins -%}
  {%- include 'plugin-auth_backend_ldap.conf.j2' %}
{% endif %}